<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<style>

	table {
  		border-collapse: collapse;
  		width: 100%;
		max-width: 800px;
		background-color: purple;
		color: white;
	}
		
	th,td {
		text-align: left;
		padding: 8px;
		border: 1px solid white;
	}
		
	th {
		  background-color: white;
		  color: purple;
	}
</style>
</head>
<body>
	<table>
		<tr>
			<th>ID</th>
			<th>商品名</th>
			<th>価格</th>
			<th>ジャンルID</th>
		</tr>
		<tr th:each="i : ${#numbers.sequence(1,5)}">
    		<td th:text="${books_fruits[i-1].id}"></td>
    		<td th:text="${books_fruits[i-1].name}"></td>
    		<td th:text="${books_fruits[i-1].price}"></td>
    		<td th:text="${books_fruits[i-1].genreId}"></td>
		</tr>

	</table>
</body>
</html>